<?xml version="1.0" encoding="utf-8"?>
<!-- Copy this file to XrmDefinitelyTyped.Environment.config. -->
<appSettings>
	<add key="url" value="" />
	<add key="username" value="" />
	<add key="method" value="OAuth"/>
	<add key="mfaAppId" value="51f81489-12ee-4a9e-aaae-a2591f45987d" />
	<add key="mfaReturnUrl" value="app://58145B91-0C36-4500-8554-080854F2AC97"/>
</appSettings>
