<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="XrmDefinitelyTyped.Environment.config">
    <add key="out" value="../typings/XRM" />
    <add key="entities" value="pc_bankaccount,pc_transaction" />
    <add key="jsLib" value="../src/lib" />
    <add key="web" value="" />
  </appSettings>
</configuration>