name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

env:
  CUSTOMIZATIONS_DIR: Customizations
  ZIP_FILE: /CityForPeople.zip

jobs:
  commit-solution:
    runs-on: ubuntu-latest

    steps:
      - name: Export Solution
        uses: microsoft/powerplatform-actions/export-solution@v0
        with:
          app-id: ${{ secrets.DATAVERSE_APP_ID }}
          client-secret: ${{ secrets.DATAVERSE_CLIENT_SECRET }}
          environment-url: ${{ secrets.DATAVERSE_URL }}
          solution-name: CityForPeople
          solution-output-file: ${{ runner.temp }}${{ env.ZIP_FILE }}
          tenant-id: ${{ secrets.MICROSOFT_TENANT_ID }}

      - name: Set Git Email
        run: git config --global user.email admin@pilsetacilvekiem.lv

      - name: Set Git Name
        run: git config --global user.name 'GitHub Actions'

      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Pull
        run: git pull
        
      - name: Delete Customizations
        run: rm -rf ${{ env.CUSTOMIZATIONS_DIR }}

      - name: Unpack Solution
        uses: microsoft/powerplatform-actions/unpack-solution@v0
        with:
          solution-file: ${{ runner.temp }}${{ env.ZIP_FILE }}
          solution-folder: ${{ env.CUSTOMIZATIONS_DIR }}

      - name: Track Customizations
        run: git add ${{ env.CUSTOMIZATIONS_DIR }}

      - name: Commit
        run: git diff-index --quiet HEAD || git commit -m 'Solution update'

      - name: Push
        run: git push
